.card {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    /* padding-top: 15px; */
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(124, 130, 124);
}

.img {
    width: 50px;
    /* color: brown; */
}

.card:hover {
    border: 3px solid rgb(5, 97, 28);
    /* background-color: rgb(5, 162, 45); */
}

.opened {
    border: 3px solid rgb(5, 97, 28);
    background-color: rgb(5, 162, 45);
}

.disabled {
    background-color: rgb(216 228 74);
}