.container {
    /* width: 100vw;
    height: 100vh; */
    display: flex;
    width: 944px;
    min-height: 10px;
    margin: 0 auto;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    box-sizing: border-box;
    background-color: rgb(15, 188, 15);
    background: linear-gradient(to top, rgb(5, 158, 5), rgb(15, 188, 15), rgb(232, 240, 232));
    border-bottom: 2px solid rgb(2, 62, 2);
    height: 35px;
    /* font-size: large; */
}

section {
    margin-top: 35px;
}