.levelCard {
    box-sizing: border-box;
    padding: 5px;
    width: 180px;
    height: 120px;
    border-radius: 15px 15px 15px 15px;
}

.easy {
    background-color: rgb(84, 152, 84);
    background: linear-gradient(to left bottom, green, white);
    border: 2px solid rgb(72, 145, 92);

}

.normal {
    background-color: rgb(77, 98, 160);
    background: linear-gradient(to left bottom, rgb(4, 0, 128), white);
    border: 2px solid rgb(66, 116, 165);

}

.hard {
    background-color: rgb(192, 17, 17);
    background: linear-gradient(to left bottom, rgb(203, 20, 35), white);
    border: 2px solid rgb(197, 15, 15);

}

.unreal {
    /* background-color: rgb(234, 8, 8); */
    background: linear-gradient(to left bottom, rgb(177, 5, 5), white);
    /* border: 2px solid rgb(123, 4, 4); */

}

.levelCard:hover {
    border-radius: 15px 40px 15px 15px;
}

.name {
    margin-bottom: 15px;
    font-size: large;
    font-weight: bold;
    color: rgb(2, 96, 2);
}

.p {
    /* font-size: large; */
    color: rgb(100, 73, 5);
}